.seccion__reservas{
    background-image: url(../../images/reserva.png);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    
    h2{
        font-size: 45px;
        text-align: center;
        color: white;
    }

    .contenedor__reservas{
        padding: 25px;
        background-color: map-get($colors, color-primario);
        max-width: 450px;
        margin: 25px auto;
        border-radius: 15px;

        form{
            margin: auto;
            display: flex;
            flex-direction: column;
            max-width: 350px;
            gap: 5px;

            .cant-personas{
                width: 50px;
            }

            .botoncontacto{
                @extend %boton-form;
                background-color: map-get($colors, color-secundario);
            }
        }
    }
    @media (max-width: 400px){
        h2{
            font-size: 20px;
        }
    }
}